.sidebar {
    width: 250px; /* Fixed width for the sidebar */
    position: fixed; /* Fixed position to stay on screen */
    top: 56px; /* Adjust top position to start below navbar */
    left: 0;
    background-color: #f8f9fa; /* Light background color */
    transition: transform 0.3s ease; /* Smooth transition for sidebar animation */
    z-index: 1000; /* Ensure sidebar is above other content */
}

.sidebar.open {
    transform: translateX(0); /* Translate sidebar to show it */
}

.sidebar.closed {
    transform: translateX(-250px); /* Translate sidebar to hide it */
}

.toggle-btn {
    width: 100%;
    margin-bottom: 20px;
}

.nav-link {
    padding: 10px 20px; /* Padding for menu items */
    display: block;
    color: #343a40; /* Text color */
    text-decoration: none; /* Remove underline */
}

.nav-link:hover {
    background-color: #e9ecef; /* Hover background color */
    color: #343a40; /* Hover text color */
}
