.breadcrumbs {
    padding: 5px 0;
    font-size: 15px;
  }
  
  .breadcrumbs a {
    text-decoration: none;
    color: black;
  }
  
  .breadcrumbs a:hover {
    text-decoration: underline;
  }
  
  .breadcrumbs span {
    margin: 0 5px;
  }
  