@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
  font-family: "Outfit" !important;
}


.custom-input{
  width: 300px;
}


.rem{
height: 600px;
}

.zoho{
  margin-top: 100px;
}

.comb{
  font-size: small;
}
